<p>LGBTsupport.org was founded in 2010 by Elizabeth J. Myers, after learning about the suicides of many teens because of bullying.</p>
<p>Upon the noble cause of being there to provide assistance and comforts to them, LGBTsupport.org was founded! :)</p>
