Do you want to get involved in LGBTsupport.org? If so, you've got many fun options!
You could:
<ul>
	<li><a href="/chat">Chat with us!</a> Join us on IRC at <a href="irc://irc.sporksirc.net/lgbtsupport">irc://irc.sporksirc.net/lgbtsupport</a></li>
	<li>Subscribe to our mailing list - <a href="/">http://generic.mailing-list.tld</a></li>
	<li>Contribute! If you know of some local resources that help out the LGBT community, we'd love to know!</li>
</ul>
