Welcome to <span style="font-variant: small-caps;">LGBTsupport</span>.org, an online community 
built to support the entire LGBT community.  We welcome people from all walks of life
and endevour to create a world of universal acceptance.
<h2>How you can help</h2> 
You can help by <a href="/">spreading the word</a>, <a href="/community">getting involved</a>, etc
