body {
	background: #D0D0D0;
	font-size: smaller;
	font-family: "Calibri", "Helvetica", "Verdana", sans-serif;
	margin:0;
}

a { color:#000; }

a:hover { 
	background: #909090;
	border-radius: 3px;
    -moz-border-radius: 3px;
}

div#header {
	margin-bottom: 2em;
	background: black;
	padding: 1px;
}

h1 {
	padding: 10px;
	color: white;
	text-shadow: #E8E8E8 1px 1px 1px;
}

.navbar {
	width: auto;
	height: 35px;
	background: #313131;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2E2929', endColorstr='#424242'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2E2929), to(#424242)); /* for webkit browsers */
	background: --moz-linear-gradient(top,  #2E2929,  #424242); /* for firefox 3.6+ */
	border-bottom: 2px solid #424242;
}
.navbar ul, .navbar ul li{
	border: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 35px;
	line-height: 35px;
}

.navbar ul input { margin-top: 7px; }
.navbar ul li{float: left; display: block;}
.navbar ul li a {
	text-decoration: none;
	font-weight: bold;
	text-shadow: black 1px 1px 1px;
	display: block;
}
.navbar ul li a:hover {
	background:#555;
	border-radius: 5px;
    -moz-border-radius: 5px;
}
.navbar ul li a span {
	padding: 0 20px 0 0;
	height: 35px;
	line-height: 35px;
	display: block;
	margin-left:20px;
}

div#search { float: right; }

div#content{ padding: 2em; }

div#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: black;
	height: 35px;
	line-height: 35px;
	color: white;
    padding-left: 8px;
}
